.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  background-color: $primary;

  @include mobile {
    height: 11rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69.1%;
    height: 5rem;

    @include pad {
      width: 90%;
    }

    @include mobile {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
  &__section-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;

    @include pad {
      width: 20%;
    }

    @include mobile {
      width: 100%;
      height: 45.45%;
      justify-content: start;
      align-items: center;
    }
  }
  &__logo {
    width: 5rem;
    height: auto;
    margin-top: 1rem;

    @include mobile {
      margin-top: 0;
    }
  }
  &__section-right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;

    @include pad {
      width: 80%;
      font-size: 1rem;
    }

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 100vw;
      height: 55.55%;
    }
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    color: #fff;

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100vw;
      height: 100%;
    }
  }
  &__list-item {
    margin-left: 1rem;
    color: #fff;

    @include pad {
      margin-right: 1rem;
    }

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50%;
      height: 50%;
      font-size: 1rem;
      margin: 0;
      border: 1px solid #fff;
    }
  }
}

.section-hero {
  display: inline-flex;
  width: 100vw;
  height: auto;
  position: relative;
  &__background-pic {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 15;
    &--sm {
      width: 100vw;
      height: auto;
      position: relative;
      z-index: 15;
      display: none;
    }
  }
  @include pad {
    &__background-pic {
      width: 100vw;
      height: auto;
      position: relative;
      z-index: 15;
      display: none;
      &--sm {
        width: 100vw;
        height: auto;
        position: relative;
        z-index: 15;
        display: block;
      }
    }
  }
  &__headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    width: 69.1%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
  }
  &__text {
    text-align: end;
    font-size: 2.25rem;
    font-family: $nato-sans-tc;
    color: $text;
    @include mobile {
      font-size: 1rem;
    }
  }
  &__capture {
    text-align: end;
    font-size: 4rem;
    font-weight: bold;
    color: $text;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  &__button {
    background-color: $primary; /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
  }
}

.section-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: $bg-color-light-pink;
  &__container {
    @include container;
  }
  &__capture {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: $text;
    @include mobile {
      font-size: 1.5rem;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 1.5rem;
    @include pad {
      flex-wrap: wrap;
    }
  }

  &__card-frame {
    width: 25%;
    padding: 0 0.5rem;

    @include pad {
      width: 50%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  &__icon {
    width: 100px;
    height: 100px;
  }
  &__subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: $text;
    margin-top: 1.5rem;
  }
  &__text {
    font-size: 1rem;
    color: $dark;
    margin-top: 1.5rem;
    word-wrap: break-word;
  }
}

.section-classic {
  display: flex;
  justify-content: center;
  align-items: center;

  @include section;
  background-color: $bg-color-white;

  &__container {
    @include container;
  }
  &__capture {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: $text;
    margin-top: 2.5rem;

    @include mobile {
      font-size: 1.5rem;
      margin-top: 0rem;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    gap: 1.5rem;
    @include pad {
      flex-wrap: wrap;
      flex-direction: column;
    }

    @include mobile {
      margin-top: 0;
    }
  }
  &__card-frame {
    width: (100% / 3);
    padding: 0 0.5rem;

    @include pad {
      width: 50%;
      margin: 1.5rem 0;
      padding: 0;
    }

    @include mobile {
      width: 100%;
      padding: 0;
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
  }
  &__text {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    color: $primary;
    margin-top: 1.5rem;
    word-wrap: break-word;
    @include pad {
      margin-top: 0.5rem;
    }
    @include mobile {
      font-size: 3rem;
    }
  }
}

.section-collab {
  @include section;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__background-pic {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 15;
    &--md {
      display: none;
    }
    &--sm {
      display: none;
    }
  }
  @include pad {
    &__background-pic {
      display: none;
      &--md {
        display: block;
        width: 100vw;
        height: auto;
        position: relative;
        z-index: 15;
      }
      &--sm {
        display: none;
      }
    }
  }
  @include mobile {
    &__background-pic {
      display: none;
      &--md {
        display: none;
      }
      &--sm {
        display: block;
        width: 100vw;
        height: auto;
        position: relative;
        z-index: 15;
      }
    }
  }
  &__container {
    @include container;
    position: absolute;
    z-index: 30;

    @include mobile {
      height: auto;
    }
  }
  &__caption {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;

    @include mobile {
      font-size: 1.5rem;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    @include pad {
      flex-wrap: wrap;
    }
    @include mobile {
      height: 100%;
    }
  }
  &__card-frame {
    max-width: 50%;
    max-height: auto;

    @include pad {
      max-width: 100%;
      margin-top: 1.5rem;
    }

    @include mobile {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
    &--sm {
      display: none;
    }
    @include mobile {
      display: none;
      &--sm {
        display: flex;
        width: 100%;
        max-height: 100%;
      }
    }
  }
  &__text {
    width: 100%;
    height: auto;
    background-color: #fff;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    color: $primary;
    text-align: center;
    word-wrap: break-word;
  }
}

.section-reco {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    @include container;
  }
  &__caption {
    font-size: 3rem;
    color: $text;
    font-weight: bold;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 1.5rem;
    gap: 1.5rem;
    @include pad {
      flex-wrap: wrap;
      gap: 0;
    }
    @include mobile {
      height: 100%;
    }
  }
  &__card-frame {
    max-width: 25%;
    max-height: auto;

    @include pad {
      max-width: 50%;
      margin-top: 1.5rem;
      padding: 0 0.5rem;
    }
    @include mobile {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 15px #555555;
  }
  &__card-img {
    width: 100%;
    height: 60%;
  }
  &__card-caption {
    width: 100%;
    height: 5%;
    font-size: 1rem;
    color: #000;
    text-align: start;
    font-weight: bold;
    padding: 0 1rem;
    margin-top: 1rem;
  }
  &__card-text {
    width: 100%;
    height: 165px;
    background-color: #fff;
    font-size: 1rem;
    font-family: sans-serif;

    color: #000;
    text-align: start;
    padding: 0 1rem;
    word-wrap: break-word;

    @include mobile {
      height: 165px;
    }
  }
  &__card-date {
    width: 100%;
    height: 5%;
    font-size: 0.875rem;
    color: #707070;
    padding: 0 1rem;
    text-align: start;
  }
}
