@mixin pad {
  @media screen and (max-width: 879px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 511px) {
    @content;
  }
}

@mixin section {
  width: 100vw;
  height: auto;
}

@mixin container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 69.1%;
  margin: 5rem 0;

  @include pad {
    width: 90%;
  }

  @include mobile {
    flex-direction: column;
    width: 95%;
    height: 100%;
  }
}
