@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto+Condensed:wght@300&display=swap");

//theme-color
$primary: #aa0601;
$secondary: #fbf2f2;
$dark: #000000;
$text: #650300;
$bg-color-light-pink: #fbf2f2;
$bg-color-white: #fff;

//fonts
$roboto: "Roboto Condensed";
$nato-sans-tc: "Noto Sans TC", sans-serif;
